Repository anqqa/klubitus-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, wotan --fix

Listen now requires number
  api/src/main.ts
Due: prettier --write, wotan --fix

Fix vuetify dependency
  client/package.json
Due: prettier --write

New dark theme is darker by default
  client/src/assets/styles/variables.scss
Due: none

Minor UI tuning
  client/src/assets/styles/klubitus.scss
  client/src/components/forum/ForumPostList.vue
  client/src/pages/forum/topic/_id.vue
  client/src/utils/time.ts
Due: prettier --write, wotan --fix

Use store to load single topic
  client/src/models/BaseModel.ts
  client/src/pages/forum/topic/_id.vue
  client/src/store/forum.ts
Due: prettier --write, wotan --fix

Use store to load forum areas
  client/src/components/forum/ForumAreaList.vue
  client/src/models/ForumArea.ts
  client/src/pages/forum/index.vue
  client/src/store/forum.ts
Due: prettier --write, wotan --fix

Use store to fetch latest topics
  client/src/pages/forum/index.vue
  client/src/store/forum.ts
Due: prettier --write, wotan --fix

Use store to fetch forum posts
  client/src/pages/forum/topic/_id/index.vue
  client/src/store/forum.ts
Due: prettier --write, wotan --fix

Fix non-updating topic
  client/src/pages/forum/topic/_id.vue
  client/src/store/forum.ts
Due: prettier --write, wotan --fix

Upgrade client dependencies
  client/package.json
  yarn.lock
Due: prettier --write

Upgrade API dependencies except NestJS
  api/package.json
  yarn.lock
Due: prettier --write

Upgrade root dependencies
  package.json
  yarn.lock
Due: prettier --write

Replace tslint with eslint
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  api/package.json
  client/.eslintrc.js
  client/package.json
  package.json
  yarn.lock
Due: prettier --write, wotan --fix

Upgrade NestJS
  api/package.json
  api/src/common/decorators/requestuser.decorator.ts
  yarn.lock
Due: prettier --write, wotan --fix

Use eslint config for prettier to have better support for WebStorm
  .eslintrc.js
  .prettierrc
Due: prettier --write, wotan --fix

Add bugsnag to client
  README.md
  client/nuxt.config.ts
  client/package.json
  client/src/modules/bugsnag/client.ts
  client/src/modules/bugsnag/index.ts
  docker-compose.yml
  yarn.lock
Due: prettier --write, wotan --fix

Add root tsconfig.json to keep linter happy
  .lintstagedrc
  api/.eslintrc.js
  api/tsconfig.json
  client/.eslintrc.js
  client/tsconfig.json
  tsconfig.json
Due: prettier --write, wotan --fix

Create LICENSE
  LICENSE
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.json)
  wotan --fix: any of: *.{ts,js,vue}
